

<mat-grid-list cols="3" >
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>




       

            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Login" [(ngModel)]="pseudoForLogin" name="pseudoForLogin">
                </mat-form-field>
                
              
                
                <button mat-flat-button color="warn" (click)="checkLogin()" type="button" name="validate">Connexion</button>
            </form>

    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>