<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<mat-toolbar color="primary" class="header">
  <div matRipple class="title-left mat-h1" [routerLink]="['/login']">
    <strong>Trombinoscope</strong>
  </div>
  <span class="menu-spacer"></span>
    <div class="example-button-row">
      <button mat-flat-button [routerLink]="'/login'">Login</button>
      <button mat-flat-button [routerLink]="'/chat'">Chat !</button>
    </div>
</mat-toolbar>



<router-outlet></router-outlet>